<!DOCTYPE html>
<html>
  <head>
    <title> Chirper App </title>
  </head>
  <body>
    <div class='container' id='app'></div>
    <script>var USER = <%- JSON.stringify(user) %></script>
    <script src='/main.js'></script>
  </body>
</html>
